{% extends 'index.html' %} {% load static %}
{% load staticfiles %}
{% block css %}
{% endblock %}

{% block content %}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Sobre
                    <small>Portal do Conhecimento Baseado em Mapas Conceituais</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/">Inicio</a>
                    </li>
                    <li class="active">Sobre</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="/static/img/aboutImage.jpg" alt="">
            </div>
            <div class="col-md-6">
                <h2>Portal do Conhecimento e CMPaaS</h2>
                <p>Seja Bem-Vindo ao Portal do Conhecimento Baseado em Mapas Conceituais!</p>
                <p>Há vários anos o LIED (Laboratório de Informática na Educação), vinculado ao PPGI-UFES (Programa de Pós-Graduação em Informática da Universidade Federal do Espírito Santo), tem desenvolvido pesquisas relacionadas ao uso de Mapas Conceituais nos processos de Ensino e Aprendizagem. Tais pesquisas culminaram no desenvolvimento de soluções computacionais que facilitam, de alguma maneira, as operações de construção, análise e gestão de Mapas Conceituais.</p>
                <p>No entanto, essas pesquisas careciam de um espaço integrado que permitisse seu acoplamento e integração com as demais, de modo a permitir um desenvolvimento gradual de uma plataforma de maior porte onde as funcionalidades desenvolvidas poderiam se complementar a fim de produzir informações mais ricas para as pesquisas e, além disto, compor um ambiente onde as pesquisas e ferramentas poderiam realmente ser utilizadas, testadas e validadas pela comunidade.</p>
                <p>É este cenário que desejamos mudar através deste projeto. Ele é composto por dois subprojetos, quais sejam:</p>
                <ul>
                    <li><strong>Plataforma CMPaaS: </strong>Todas as soluções computacionais têm suas funções desenvolvidas, implementadas e disponibilizadas. Estas soluções podem ser acessadas externamente ou internamente, permitindo integração entre os serviços oferecidos entre plataformas ou pela própria plataforma do CMPaaS.</li>
                    <li><strong>Portal do Conhecimento: </strong>Oferece uma interface de acesso amigável, permitindo aos usuários explorar as funcionalidades oferecidas pelo CMPaaS.</li>
                </ul>
                <p>Desejamos que você aproveite ao máximo os serviços que oferecemos e colabore conosco fornecendo feedbacks e sugestões de melhorias para o aprimoramento constante das funcionalidades oferecidas na Plataforma CMPaaS e no Portal do Conhecimento.</p>
                
            </div>
        </div>
        <!-- /.row -->

        <!-- Team Members -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Nossa Equipe</h2>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="../static/img/dede.jpg" alt="">
                    <div class="caption">
                        <h3>Davidson Cury<br>
                            <small>Coordenador Geral</small>
                        </h3>
                        <p>Professor Titular do Departamento de Informática da Universidade Federal do Esopírito Santo (UFES)</p>
                        <ul class="list-inline">
                            <li><a href="https://www.facebook.com/dede.cury.1"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/dede-cury-98aa2720"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="https://twitter.com/dedecury"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                            <li><a href="https://plus.google.com/104140632538430866888"><i class="fa fa-2x fa-google-plus-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="../static/img/wagner.jpg" alt="">
                    <div class="caption">
                        <h3>Wagner Perin<br>
                            <small>Coordenador Técnico</small>
                        </h3>
                        <p>Mestre em Informática e Analista de T.I. da Universidade Federal do Espírito Santo (UFES)</p>
                        <ul class="list-inline">
                            <li><a href="https://www.facebook.com/wagnerperin"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="https://br.linkedin.com/in/wagner-de-andrade-perin-7a477a60"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="https://twitter.com/wagneraperin"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                            <li><a href="https://www.instagram.com/wagnerperin/"><i class="fa fa-2x fa-instagram"></i></a>
                            </li>
                            <li><a href="https://plus.google.com/115161195251114240231"><i class="fa fa-2x fa-google-plus-square"></i></a>
                            </li>
                            <li><a href="https://github.com/wagnerperin"><i class="fa fa-2x fa-github-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="../static/img/guilherme.jpg" alt="">
                    <div class="caption">
                        <h3>Guilherme Pinotte<br>
                            <small>Pesquisador</small>
                        </h3>
                        <p>Mestrando em Informática na Universidade Federal do Espírito Santo (UFES)</p>
                        <ul class="list-inline">
                            <li><a href="https://www.facebook.com/guilherme.pinotte"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/guilherme-pinotte-36b52b95"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="https://twitter.com/GPinotte"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                            <li><a href="https://www.instagram.com/guilhermepinotte/"><i class="fa fa-2x fa-instagram"></i></a>
                            </li>
                            <li><a href="https://plus.google.com/113096922921593072827"><i class="fa fa-2x fa-google-plus-square"></i></a>
                            </li>
                            <li><a href="https://github.com/guilhermepinotte"><i class="fa fa-2x fa-github-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="../static/img/camila.jpg" alt="">
                    <div class="caption">
                        <h3>Camila Zacche<br>
                            <small>Pesquisadora</small>
                        </h3>
                        <p>Mestranda em Informática na Universidade Federal do Espírito Santo (UFES)</p>
                        <ul class="list-inline">
                            <li><a href="https://www.facebook.com/camila.zacche"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/camila-zacche-de-aguiar-04872762"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="https://twitter.com/CamilaZagui"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                            <li><a href="https://plus.google.com/100772671932948873303"><i class="fa fa-2x fa-google-plus-square"></i></a>
                            </li>
                            <li><a href="https://github.com/camilazagui"><i class="fa fa-2x fa-github-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="../static/img/daniel.jpg" alt="">
                    <div class="caption">
                        <h3>Daniel de Assis<br>
                            <small>Pesquisador</small>
                        </h3>
                        <p>Mestrando em Informática na Universidade Federal do Espírito Santo (UFES)</p>
                        <ul class="list-inline">
                            <li><a href="https://www.instagram.com/danieldeassis/"><i class="fa fa-2x fa-instagram"></i></a>
                            </li>
                            <li><a href="https://plus.google.com/116798262947757395990"><i class="fa fa-2x fa-google-plus-square"></i></a>
                            </li>
                            <li><a href="https://github.com/danieldeassis"><i class="fa fa-2x fa-github-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="../static/img/geraldo.jpg" alt="">
                    <div class="caption">
                        <h3>Geraldo Vassoler<br>
                            <small>Pesquisador</small>
                        </h3>
                        <p>Mestre em Informática pela UFES e Analista de T.I. da VALE</p>
                        <ul class="list-inline">
                            <li><a href="https://www.facebook.com/geraldo.vassoler"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/geraldo-vassoler-93a53436"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="https://plus.google.com/118156293728289167769"><i class="fa fa-2x fa-google-plus-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- /.row -->

        <!-- Our Customers -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Desenvolvem Conosco...</h2>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 hoverEfect">
                <img class="img-responsive customer-img" src="../static/img/isaque.jpg" alt="">
                <div class="caption text-center">
                    <h4>Isaque Rocha<br>
                        <small>Versionador de Mapas</small>
                    </h3>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 hoverEfect">
                <img class="img-responsive customer-img" src="../static/img/israel.jpg" alt="">
                <div class="caption text-center">
                    <h4>Israel Henrique<br>
                        <small>Sugestão de Conceitos</small>
                    </h3>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 hoverEfect">
                <img class="img-responsive customer-img" src="../static/img/raphael.jpg" alt="">
                <div class="caption text-center">
                    <h4>Raphael Castro<br>
                        <small>Layouts Automáticos</small>
                    </h3>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 hoverEfect">
                <img class="img-responsive customer-img" src="../static/img/breno.jpg" alt="">
                <div class="caption text-center">
                    <h4>Breno Koenigkam<br>
                        <small>Engenharia de Software</small>
                    </h3>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 hoverEfect">
                <img class="img-responsive customer-img" src="../static/img/marcelo.jpg" alt="">
                <div class="caption text-center">
                    <h4>Marcelo Ferreira<br>
                        <small>PLN-iMap</small>
                    </h3>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>




{% endblock %}

{% block javascript %}
{% endblock %}