{% extends 'index.html' %} {% load static %}
{% load staticfiles %}
{% block css %}
    <link href="/static/css/profstyle.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
<div class="container">
    <div class="fb-profile">
        <div class="crop">
            <img align="left" class="fb-image-lg" src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/12472779_961924760558217_4325901902294295760_n.jpg?oh=a9119ba2c41da7c18a59adbb7b68d7e3&oe=5797F98A&__gda__=1467790595_eda718f88276667d8fd9195c8db88a87" alt="Profile image example"/>
        </div>
        <img align="left" class="fb-image-profile thumbnail" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xlp1/v/t1.0-1/p160x160/12924404_964843833599643_376561994072962367_n.jpg?oh=a95ca5512191f7cbf5e8fc42efce2bbd&oe=578040A4&__gda__=1468596650_b845653910b20b7deacc77305823bfb2" alt="Profile image example"/>
        <div class="fb-profile-text">
            <h1 id="name"> </h1>
            <p id="usertag"> </p>
        </div>
    </div>
</div> <!-- /container -->  
    
{% endblock %}

{% block javascript %}
    <script src="/static/js/profile.js"></script>
{% endblock %}
